<div class="usuarios-container">
  <h3>Usuarios</h3>
  <div class="fila">
    <div class="btn-group">
      <button><i class="fas fa-file-pdf"></i> PDF</button>
      <button><i class="fa fa-copy"></i> Copy</button>
      <button><i class="fa fa-file-excel"></i> Excel</button>
      <button><i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
      <button>
        <i class="fa fa-columns" aria-hidden="true"></i> Columnas
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <button>
        Mostrar <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
    </div>
    <div class="search">
      <label for="search">Filtrar: </label>
      <input type="text" id="search" />
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nombre <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Email <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Fecha Registro <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th>Último Login <i class="fa fa-sort" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.fechaRegistro }}</td>
        <td>{{ usuario.ultimoIngreso }}</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Fecha Registro</th>
        <th>Último Login</th>
      </tr>
    </thead>
  </table>
  <p>Mostrando registros del 1 al {{ usuarios.length }}</p>
  <div class="fila-pagination">
    <div class="pagination">
      <a>Primero</a>
      <a>Anterior</a>
      <span>1</span>
      <a>Siguiente</a>
      <a>Último</a>
    </div>
  </div>
</div>
