<div class="dashboard-container">
  <div class="background-container">
    <div class="caja fondo"></div>
  </div>

  <aside class="sidebar">
    <div class="dropdown-menu">
      <button (click)="toggleDropdown()">
        Dashboards <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <div *ngIf="dropdownVisible" class="dropdown-content">
        <a id="btn-1" (click)="seleccionar('btn-1')" routerLink="clima"
          >Weather</a
        >
        <a id="btn-2" (click)="seleccionar('btn-2')" routerLink="usuarios"
          >Usuarios</a
        >
      </div>
    </div>
  </aside>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
